<footer class="relative mt-16 overflow-hidden py-10">
    <div class="pointer-events-none absolute -left-32 hidden md:block" aria-hidden="true">
        <svg height="257" viewBox="0 0 393 257" width="393" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                <g transform="translate(0, -78)">
                    <g transform="translate(0, 78.4887)">
                        <path
                        d="M306,16 C292.997,16 280.664,18.857 269.585,23.971 C301.93,47.202 323,85.138 323,128 C323,150.49 317.192,171.621 307.006,189.987 C354.591,189.447 393,150.712 393,103 C393,54.951 354.049,16 306,16"
                        fill="#FFCD00" />
                        <path
                        d="M219,102.9997 C219,151.0487 257.951,189.9997 306,189.9997 C306.336,189.9997 306.671,189.9917 307.006,189.9877 C317.192,171.6207 323,150.4907 323,127.9997 C323,85.1377 301.93,47.2017 269.585,23.9707 C239.725,37.7527 219,67.9537 219,102.9997 Z"
                        fill="#ECBB00" />
                        <path
                        d="M69.124,104.69 C67.733,112.25 67,120.039 67,128 C67,155.438 56.3833008,192.166504 90.335,201.694 C126.690918,196.245117 111,175.955 111,158.5 C111,132.55 93.188,110.765 69.124,104.69 Z"
                        fill="#C79B0C" />
                        <path
                        d="M69.124,104.6904 C64.764,103.5894 60.202,103.0004 55.5,103.0004 C24.848,103.0004 0,127.8484 0,158.5004 C0,189.1514 24.848,214.0004 55.5,214.0004 C68.696,214.0004 80.81,209.3854 90.335,201.6934 C75.637,180.8574 67,155.4384 67,128.0004 C67,120.0384 67.733,112.2494 69.124,104.6904"
                        fill="#B58E18" />
                        <path
                        d="M219,103 C219,67.954 239.725,37.753 269.585,23.971 C248.583,8.887 222.831,0 195,0 C132.269,0 80.084,45.129 69.124,104.69 C93.187,110.765 111,132.55 111,158.5 C111,175.955 102.935,191.52 90.335,201.694 C113.506,234.542 151.746,256 195,256 C243.202,256 285.174,229.351 307.006,189.987 C306.671,189.991 306.336,190 306,190 C257.951,190 219,151.049 219,103"
                        fill="#DAAA00" />
                    </g>
                </g>
            </g>
        </svg>
    </div>

    <div class="flex justify-center">
        <div class="flex flex-col items-center">
            <a href="https://ucdavis.edu" rel="noopener noreferrer" target="_blank">
                <img alt="UC Davis wordmark" class="w-52" src="~/media/caes.svg" />
            </a>
            <p class="mt-2 text-center text-sm text-base-content/70">
                created by
                <a class="ms-1 underline" href="https://computing.caes.ucdavis.edu/">CRU</a>
            </p>
        </div>
    </div>

    <div class="pointer-events-none absolute -right-32 -bottom-[15.5rem] hidden md:block" aria-hidden="true">
        <svg height="479" viewBox="0 0 504 479" width="504" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                <g transform="translate(-1323, 46)">
                    <g
                        transform="translate(1582.5, 206.9887) rotate(150) translate(-1582.5, -206.9887)translate(1386, 59.4887)">
                        <path
                        d="M252,276 C238.192424,276 227,287.192424 227,301 C227,314.807576 238.192424,326 252,326 C265.807576,326 277,314.807576 277,301 C277,287.192424 265.807576,276 252,276"
                        fill="#002855" id="blue_float"></path>
                        <path
                        d="M306,16 C292.997,16 280.664,18.857 269.585,23.971 C301.93,47.202 323,85.138 323,128 C323,150.49 317.192,171.621 307.006,189.987 C354.591,189.447 393,150.712 393,103 C393,54.951 354.049,16 306,16"
                        fill="#007A98"></path>
                        <path
                        d="M69.124,104.69 C67.733,112.25 67,120.039 67,128 C67,155.438 56.3833008,192.166504 90.335,201.694 C126.690918,196.245117 111,175.955 111,158.5 C111,132.55 93.188,110.765 69.124,104.69 Z"
                        fill="#0F386C"></path>
                        <path
                        d="M69.124,104.6904 C64.764,103.5894 60.202,103.0004 55.5,103.0004 C24.848,103.0004 0,127.8484 0,158.5004 C0,189.1514 24.848,214.0004 55.5,214.0004 C68.696,214.0004 80.81,209.3854 90.335,201.6934 C75.637,180.8574 67,155.4384 67,128.0004 C67,120.0384 67.733,112.2494 69.124,104.6904"
                        fill="#1D4A83"></path>
                        <path
                        d="M219,103 C219,67.954 239.725,37.753 269.585,23.971 C248.583,8.887 222.831,0 195,0 C132.269,0 80.084,45.129 69.124,104.69 C93.187,110.765 111,132.55 111,158.5 C111,175.955 102.935,191.52 90.335,201.694 C113.506,234.542 151.746,256 195,256 C243.202,256 285.174,229.351 307.006,189.987 C306.671,189.991 306.336,190 306,190 C257.951,190 219,151.049 219,103"
                        fill="#002855"></path>
                        <path
                        d="M219,102.9997 C219,151.0487 257.951,189.9997 306,189.9997 C306.336,189.9997 306.671,189.9917 307.006,189.9877 C317.192,171.6207 323,150.4907 323,127.9997 C323,85.1377 301.93,47.2017 269.585,23.9707 C239.725,37.7527 219,67.9537 219,102.9997 Z"
                        fill="#005076"></path>
                    </g>
                </g>
            </g>
        </svg>
    </div>
</footer>
