@model IReadOnlyList<FeedbackBot.Models.IssueContainer>

<div class="bodyDiv">
    @{
        ViewData["Title"] = "Home Page";
        <h3 class="pageTitle">Submit a new feedback for @ViewData["AppName"]</h3>
    }

    @{
        Html.RenderPartial("SearchBarPartial");
    }

    @{
        Html.RenderPartial("NewIssuePartial");
    }

    <h3 class="pageTitle">@ViewData["AppName"]</h3>

    @{
        Html.RenderPartial("DisplayIssuesPartial");
    }
</div>
