@model IReadOnlyList<Octokit.Issue>
    @{
        ViewData["Title"] = "Home Page";
        <h3>@ViewData["Message"]</h3>
    }

<div>
    @foreach (var issue in Model)
    {
        <div class="issueCard">
            <div class="leftCard">
                <div class="voteBox">
                    <p>5</p>
                </div>
                <button class="vote">VOTE</button>
            </div>
            <div class="rightCard">
                <p class="title">@issue.Title</p>
                <div class="description">
                    <span>@issue.Body</span>
                </div>
            </div>
        </div>
    }
</div>
