@{
    ViewData["Title"] = "Welcome";
}
<div class="welcome">
<h3>@ViewData["Message"]</h3>

<p>This is the landing page for the feedback bot if you the user hasn't input app queries.</p>
</div>
<div class="flexContainer">
<div class="landingCard">
  <div class="leftLanding">
      <p class="title">PrePurchasing</p>
      <p class="description">PrePurchasing allows users to submit any type of order request, including KFS, MyTravel, and other campus services.</p>
        <a href="/app/Purchasing"><button>view issues</button></a>
  </div>
</div>
<div class="landingCard">
  <div class="leftLanding">
      <p class="title">ACE</p>
      <p class="description">Academic Course Evaluation (ACE) makes course evaluations easier for students, faculty, and staff.</p>
        <a href="/app/ACE"><button>view issues</button></a>
  </div>
</div>
<div class="landingCard">
  <div class="leftLanding">
      <p class="title">Commencement</p>
      <p class="description">Commencement allows staff to manage student's requests pertaining to Commencement activities.</p>
        <a href="/app/commencement"><button>view issues</button></a>
  </div>
</div>
<div class="landingCard">
  <div class="leftLanding">
      <p class="title">FeedbackBot</p>
      <p class="description">Hello this is an app called feedbackbot it does stuff related to giving feedback automatically to our team directly into the github repo</p>
      <a href="/app/feedbackBot"><button>view issues</button></a>
  </div>
</div>
</div>
