@{
    ViewData["Title"] = "Welcome";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This is the landing page for the feedback bot if you the user hasn't input app queries.</p>

<div class="issueCard">
    <div class="leftCard">
        <p class="title">Orby</p>
        <div class="description">
            <span>Orby is uber for orbs.</span><br />
        </div>
    </div>
    <div class="rightCard">
        <a href="/app/orby">view issues</a>
    </div>
</div>

<div class="issueCard">
    <div class="leftCard">
        <p class="title">feedbackbot</p>
        <div class="description">
            <span>hello this is an app called feedbackbot it does stuff related to giving feedback automatically to our team directly into the github repo</span><br />
        </div>
    </div>
    <div class="rightCard">
        <a href="/app/feedbackbot">view issues</a>
    </div>
</div>

<div class="issueCard">
    <div class="leftCard">
        <p class="title">Purchasing</p>
        <div class="description">
            <span>hello this is an app called Purchasing</span><br />
        </div>
    </div>
    <div class="rightCard">
        <a href="/app/Purchasing">view issues</a>
    </div>
</div>

<div class="issueCard">
    <div class="leftCard">
        <p class="title">ACE</p>
        <div class="description">
            <span>hello this is an app called ACE</span><br />
        </div>
    </div>
    <div class="rightCard">
        <a href="/app/ACE">view issues</a>
    </div>
</div>

<div class="issueCard">
    <div class="leftCard">
        <p class="title">commencement</p>
        <div class="description">
            <span>hello this is an app called commencement</span><br />
        </div>
    </div>
    <div class="rightCard">
        <a href="/app/commencement">view issues</a>
    </div>
</div>
