<div class="newWrapper">
    <div id="newIssueBox">
        @using (Html.BeginForm("search", "Home", new { appName = ViewData["AppName"] }))
        {
            <input type="hidden" name="appName" value="@ViewData["AppName"]" />
            <input type="text" id="searchInput" placeholder="Search issues..." name="searchInput" />
            <button type="submit">Submit</button>
        }
    </div>
</div>