<div class="bodyDiv">

    @model IReadOnlyList<FeedbackBot.Controllers.HomeController.issuesContainer>
    @{
        ViewData["Title"] = "Home Page";
    }
    <br />
    <a href="/app/@ViewData["AppName"]">Back</a>

    <h3 class="pageTitle">Search Results For @ViewData["SearchTerm"] in <a href="/app/@ViewData["AppName"]">@ViewData["AppName"]</a></h3>
    @{
        Html.RenderPartial("SearchBarPartial");
    }

    @{
        Html.RenderPartial("DisplayIssuesPartial");
    }
</div>
