@model IReadOnlyList<FeedbackBot.Models.IssueContainer>

<div class="bodyDiv">
    @{
        ViewData["Title"] = "Home Page";
    }

    <br />

    <a href="@Url.Action("App", new { appName = ViewData["AppName"] })">Back</a>

    <h3 class="pageTitle">Search Results For @ViewData["SearchTerm"] in <a href="@Url.Action("App", new { appName = ViewData["AppName"] })">@ViewData["AppName"]</a></h3>

    @{
        Html.RenderPartial("SearchBarPartial");
    }

    @{
        Html.RenderPartial("DisplayIssuesPartial");
    }
</div>
