#newIssueBox {
    padding: 20px;
    margin: 10px;
    width: 750px;
}

#newIssueBox input[type="text"] {
    margin: 5px;
    width: 500px;
}

.logo {
  margin-right: 16px;
  margin-bottom: -10px;
  max-width: 200px;
}

.voteButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.issueCard {
    width: 750px;
    border: 1px solid black;
    display: flex; /* or inline-flex */
    flex-direction: row;
    align-items: flex-start;
    margin: 10px;
    padding: 15px;
}

.voteBox {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.vote {
    margin: 10px;
}

.description {
    width: 500px;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
}

.leftCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin: 10px;
    margin-bottom: 0px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
